<div class = "container">
  <div class = "jumbotron showPage">
    <div class = "blog_pic center row" id = "showMargin">
      <%= image_tag(@article.pic_url, :id => "showImg") %>
    </div>
    <div class = "row">
      <div class = "header center row">
        <%= @article.title %>
      </div>
      <div class = "row">
        <div id = "content"><%= simple_format(@article.content) %></div>
      </div>
      <div class = "col-md-6 alignRight" id = "showMargin">
        <% if (Article.where(blog_post: true).sort.first != Article.find(params[:id])) %>
          <%= link_to "Previous Blog Post", blog_path(@previous_article), :id=> "#{@previous_article.id}", :class=>"show_blog_links" %>
        <% else %>
          <%= link_to "Last Blog Post", blog_path(@last_article), :id=> "#{@last_article.id}", :class=>"show_blog_links" %>
        <% end %>
      </div>
      <div class = "col-md-6">
        <% if (Article.where(blog_post: true).sort.last != Article.find(params[:id])) %>
          <%= link_to "Next Blog Post", blog_path(@next_article), :id=> "#{@next_article.id}", :class=>"show_blog_links" %>
        <% else %>
          <%= link_to "First Blog Post", blog_path(@first_article), :id=> "#{@first_article.id}", :class=>"show_blog_links" %>
        <% end %>
      </div>
    </div>
    <% if logged_in? %>
      <div class = "row center" id="linkContainer">
        <p><a href="/blogs/<%= params[:id] %>/comments/_new" id= "commentLink" data-no-turbolink>Create New Comment</a></p>
      </div>
    <% end %>
    <% if @article.comments.length > 0 %>
      <div class = "row">
        <div class = "header center autoMargin">
          <h3 class = "center autoMargin">Comments</h3>
        </div>
      <div id= "commentsContainer">
        <% @article.comments.reverse.each do |comment| %>
          <%= render partial: 'comments/comment', layout: false, locals:{comment: comment} %>
        <% end %>
      </div>
    <% end %>
    </div>
  </div>
</div>