<div class = "container">
  <div class = "jumbotron center">
    <%= form_tag("/articles/#{@article.id}", method: "put") do %>
      <div>
      <p class = "header">Edit Title</p>   <%= text_field_tag('title', @article.title, class: 'textAreaForm') %>
      <p class = "header">Edit Content</p>   <%= text_area_tag 'content', @article.content, class: 'textAreaForm' %></div>
      <% if @errors %>
        <div class = "center error">
          <% @errors.each do |error| %>
            <%= error %>
          <% end %>
        </div>
      <% end %>
      <div class = "center"><%= submit_tag "Edit Article",  :class=>"button" %></div>
    <% end %>
  </div>
</div>