<div class = "container">
  <div class = "jumbotron center">
    <%= form_tag("/articles") do %>
      <div>
      <p class = "header">Article Title:</p>
        <%= text_area_tag('title',"", class: 'textAreaForm') %>
      <p class = "header">Article Content:</p>
        <%= text_area_tag('content', "", class: 'textAreaForm') %>
      <p class = "header">Picure URL:</p>
        <%= text_area_tag('pic_url',"", class: 'picURLfield') %>
      <p class = "header">Article Type:</p>
      <div class="col-md-4">
        <%= label_tag 'Article', 'Create Blog Post', class: "radioButtons" %>    <%= radio_button_tag 'blog_post', true %>
      </div>
      <div class="col-md-4">
        <%= label_tag 'Article', 'Create Project', class: "radioButtons" %>    <%= radio_button_tag 'project', true %>
      </div>
      <div class="col-md-4">
        <%= label_tag 'Article', 'Create About Me', class: "radioButtons" %>    <%= radio_button_tag 'about_me', true %>
      </div>
    </div>
      <% if @errors %>
        <div class = "center error">
          <% @errors.each do |error| %>
            <%= error %>
          <% end %>
        </div>
      <% end %>
      <div class = "center"><%= submit_tag "Create Article",  :class=>"button", :id=> "newArticleButton" %></div>
    <% end %>
  </div>
</div>